@import "/src/assets/css/variables.scss";

.add-pet {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: $secondary-color;
    box-shadow: $box-shadow;
    cursor: pointer;
}

.pets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}